html, body, div, span, applet, object, iframe,
p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, 
tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: #efdce4;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #000503;
    font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
font {
    color: #efdce4;
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    display: flex;
    padding: 24px 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 24px;
    border-radius: 500px;
}

main {
    padding: 24px 64px;
}

main nav {
    background-color: #0b1819;
    width: 100%;
    height: 60px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 8px;
}

main nav ul {
    display: flex;
    width: inherit;
    justify-content: space-around;
}

main nav ul li {
    width: 200px;
    height: 45px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

main nav ul li:hover {
    background-color: #2f6a50;
    color: #fff;
}

main nav ul li a {
    text-decoration: none;
}

main nav ul li i {
    margin-right: 8px;
}

/* KONTEN */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff05;
    border: 2px solid #2f6a50;
}

.custom-table th, .custom-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #2f6a50; 
    height: 40px; 
    
}

.custom-table th {
    background-color: #2f6a50; 
    color: #fff; 
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f210; 
}

.custom-table tr:hover {
    background-color: #0b1819; 
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #0b1819;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
